<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
			<h3 class="black-text">Representatives Working for You</h3>
    </div>
  </div>
</div>

<div class="container">
  <% @representatives.each do |representative| %>
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
  					<img src="<%= representative.image_url %>" class="circle responsive-img dashboard-rep-photo">
            <h5 class="center"><a href="/jane-doe"><%= representative.name %></a></h5>
  					<h6 class="center"><%= representative.chamber_rank_state %></h6>
          </div>
        </div>
        <div class="col s12 m8">
          <div class="icon-block">
  					<table class="rep-info-table">
  						<col width="90px">
  						<col width="200px">
              <tr>
  						  <td><h6><b>Term</h6></b></td>
  						  <td><%= representative.term_window %></td>
  						</tr>
              <tr>
  						  <td><h6><b>Birthday</h6></b></td>
  						  <td><%= representative.birthday_and_age %></td>
  						</tr>
              <tr>
  						  <td><h6><b>Political Party</h6></b></td>
  						  <td><%= representative.party %></td>
  						</tr>
              <tr>
  						  <td><h6><b>Phone</h6></b></td>
  						  <td><%= representative.phone %></td>
  						</tr>
              <tr>
  						  <td><h6><b>Website</h6></b></td>
  						  <td><a href="<%= representative.website %>" target="_blank"><%= representative.website %></a></td>
  						</tr>
              <tr>
  						  <td><h6><b>Twitter</h6></b></td>
                <td><a href="http://www.twitter.com/<%= representative.twitter %>" target="_blank"><%= representative.twitter %></a></td>
  						</tr>
  					</table>
  					<p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
  		<div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
  					<table class="rep-schedule-table">
              <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Time</th>
                <th>Committee Name</th>
                <th>Room</th>
                <th>Bills</th>
                <th>Description</th>
                <th>Links</th>
              </tr>
              <% representative.committee_hearings.each do |hearing| %>
    						<tr>
                  <th><%= hearing.type %></th>
                  <th><%= hearing.date %></th>
                  <th><%= hearing.time %></th>
                  <th><%= hearing.committee_name %></th>
                  <th><%= hearing.room %></th>
                  <th><%= hearing.bills %></th>
                  <th><%= hearing.description %></th>
                  <th><%= hearing.url %></th>
    						</tr>
              <% end %>
    				</table>
          </div>
        </div>
      </div>
    </div>
  	<br><br>
  <% end %>
</div>